extends ../layout

block content
	.container
		.row
			form.form-horizontal(method="post",action="/admin/movie/save",enctype="multipart/form-data")
				.form-group
					lable.col-sm-3.control-lable(for="douban") 豆瓣同步
					.col-sm-10
						input#douban.form-control(type="text")
				if movie._id
				input(type="hidden",value=movie._id name ="movie[_id]")

				.form-group
					lable.col-sm-3.control-lable(for="inputCategoryCus") 新增电影分类
					.col-sm-10
						input#inputCategoryCus.form-control(type="text",name="movie[categoryCus]",value=movie.categoryCus)
				.form-group
					lable.col-sm-3.control-lable 分类选择
						each category in categories
							lable.radio-inline 
								//- if movie._id
								input(type="radio",name="movie[category]",value=category._id)
								| #{category.name} 
				.form-group
					lable.col-sm-3.control-lable(for="inputTitle") 电影名字
					.col-sm-10
						input#inputTitle.form-control(type="text",name="movie[title]",value=movie.title)
				.form-group
					lable.col-sm-3.control-lable(for="inputDoctor") 导演
					.col-sm-10
						input#inputDoctor.form-control(type="text",name="movie[doctor]",value=movie.doctor)
				.form-group
					lable.col-sm-3.control-lable(for="inputCountry") 国家
					.col-sm-10
						input#inputCountry.form-control(type="text",name="movie[country]",value=movie.country)
				.form-group
					lable.col-sm-3.control-lable(for="inputLanguage") 语言
					.col-sm-10
						input#inputLanguage.form-control(type="text",name="movie[language]",value=movie.language)
				.form-group
					lable.col-sm-3.control-lable(for="inputPoster") 海报地址
					.col-sm-10
						input#inputPoster.form-control(type="text",name="movie[poster]",value=movie.poster)
				.form-group
					lable.col-sm-3.control-lable(for="upLoadPoster") 海报上传
					.col-sm-10
						input#upLoadPoster.form-control(type="file",name="upLoadPoster")
				.form-group
					lable.col-sm-3.control-lable(for="inputFlash") 片源地址
					.col-sm-10
						input#inputFlash.form-control(type="text",name="movie[flash]",value=movie.flash)
				.form-group
					lable.col-sm-3.control-lable(for="inputYear") 上映年代
					.col-sm-10
						input#inputYear.form-control(type="text",name="movie[year]",value=movie.year)
				.form-group
					lable.col-sm-3.control-lable(for="inputSummary") 电影简介
					.col-sm-10
						input#inputSummary.form-control(type="text",name="movie[summary]",value=movie.summary)
				button.btn.btn-primary(type="submit") 录入
				br
				br
				br
				br
				br
	script(src='/js/admin.js')

